<?xml version="1.0"?>
<launch>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    
    <include file="$(find robot_description)/launch/description.launch" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description 
                                                                    -urdf -model robot
                                                                    -x $(arg x)
                                                                    -y $(arg y)
                                                                    -z $(arg z)"/>
</launch>