<?xml version="1.0"?>
<launch>

    <!-- Load controller configuration -->
    <rosparam command="load" file="$(find robot_control)/config/robot_control.yaml" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" 
                                            output="screen" ns="/robot" args="joint_state_controller robot_mobile"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
    
</launch>